.footer{
	background: #2b2f3e;
	width: 100%;
	clear: both;
}
.footer_div1{
	background: url(../img/footer-logo.png)no-repeat center;
	height: 200px;
}
.footer_div2{
	height: 200px;
	line-height: 45px;
	text-align: center;
}
.footer_div2 ul{
	margin-top: 50px;	
}
.footer_div2 ul a{
	color:#959bae ;
}
.footer_div3{
	background: url(../img/two-dimension.png)no-repeat center;
	height: 200px;
}
.footer_div4{
	text-align: center;
	color:#959bae ;
}
.fix{
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}